<!-- app/templates/admin/trainees/trainee.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Assign Trainess{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            <h1> Assign Trainer and Sessions </h1>
            <br/>
            <p>
                Select a trainer and session to assign to
                <span style="color: #aec251;">
                    {{ trainee.first_name }} {{ trainee.last_name }}
                </span>
            </p>
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}