<!-- app/templates/admin/trainer/trainer.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_trainer %}
        Add Trainer
    {% else %}
        Edit Trainer
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_trainer %}
                <h1>Add Trainer</h1>
            {% else %}
                <h1>Edit Trainer</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
